<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/header.ejs') %> 
<body>
    <header id="main-header"><h1>Roaming Usecase</h1></header>
    <ol>
        <% for(var person of message) { %>
            <li>
                <a href="/CSPAdmin/<%= username %>/GetAllSubscriberSims/<%= person["PublicKey"] %>"><%= person["PublicKey"] %></a>
                <br>
            </li>
        <% } %>
    </ol>
</body>
</html>

