<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')%>
<body>
    <header id="main-header"><h1>Roaming Usecase</h1></header>
    <h3> An Error Occured. <%= error_msg %>  Please try again</h3> <br>
    <a href="/" style="float: right;">Go to home page</a>
</body>
</html>