<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')%>
<body>
    <header id="main-header"><h1>Roaming Usecase</h1></header>
    <h3> Hi <%= username %>, the registation is unsuccessful. Please try again</h3> <br>
    <a href="/CreateCSP">Try register Again</a>
</body>
</html>