<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <header id="main-header"><h1>Roaming Usecase</h1></header>
    <div class="center">
        <a href="/CreateCSP"> Create CSP</a> <br>
        <a href="/CSPlogin"> CSP Login</a> <br>
        <a href="/createSubscriberSim"> Creating Subscriber Sim</a> <br>
        <a href="/Userlogin"> User Login</a>
    </div>
</body>
</html>