<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')%>
<body>
    <header id="main-header"><h1>Roaming Usecase</h1></header>
    <h3> Hi <%= username %>, you are registerd successfully..</h3>
    <a href="/Userlogin">Login</a>
</body>
</html>