<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %> 
<body>
  <header id="main-header"><h1>Roaming Usecase</h1></header>
  <div class="center">
    <h2 >Block Chain User Login</h2>
    <form method="POST">
      <label for="name">Public Key:</label><br>
      <input type="text" id="name" name="PublicKey"><br>
      <br>
      <label for="pwd">Password:</label><br>
      <input type="password" id="pwd" name="password"><br><br>
      <br>
      <input type="submit" class="button" value="Login">
    </form> 
  </div>
</body>
</html>